:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --bg-dark: #2f303a;
  --btn-hover: #188ce8;
  --bg-our-team: #f5f4fa;
  --bg-filter-btn: #f5f4fa;
  --brd-card-title: #eeeeee;
}
body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;

  background-color: var(--white-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.btn {
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border-color: transparent;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Logo*/
.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--main-color);
}

.logo--dark-theme {
  color: var(--accent-color);
}

/*header */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.link-list {
  display: flex;
  align-items: center;
}

.link-list .item:not(:last-child),
.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.link-grey {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.current {
  color: var(--accent-color);
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

/* hero  */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-dark);
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover);
}

/* features  */

.features {
  padding-bottom: 47px;
}

.features-list {
  display: flex;
}

.feature:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
  color: var(--second-color);
}

/* works*/

.work {
  padding-top: 47px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works-list-item {
  margin-top: 30px;
  margin-left: 30px;
}

/*our team */

.members {
  background-color: var(--bg-our-team);
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.member-card {
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);

  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.member-box {
  padding: 30px 0;
}

.member-name {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.member-function {
  font-size: 16px;
  color: var(--second-color);
  line-height: 1.19;

  text-align: center;
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark);
}

.footer .logo {
  margin-bottom: 20px;

  display: inline-block;
  color: var(--white-color);
}

.address {
  font-style: normal;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-map {
  color: rgba(255, 255, 255, 1);
  line-height: 1.71;
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/*Портфолио */

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--bg-filter-btn);
}

.filter-button:focus,
.filter-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.gallery .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery .item {
  margin-bottom: 30px;
}

.card-title {
  padding: 20px 24px;
  border: 1px solid var(--brd-card-title);
  border-top: 0;
}

.card-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
